<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluild col-7 mx-auto my-2 shadow-md">
        <h1 class="text-center text-decoration-underline">Sign Up</h1>
        
        <form action="/update" method="post">
            <div class="form-group my-3">
                <label for="firstname">First Name </label>
                <input type="text" class="form-control" id="firstname" value="<%= userDetails.firstname %>" name="firstname">
            </div>
            <div class="form-group my-3">
                <label for="lastname">Last Name</label>
                <input type="text" class="form-control" id="lastname" value="<%= userDetails.lastname %>" name="lastname">
            </div>
            <div class="form-group my-3">
                <label for="email">Email address</label>
                <input type="text" class="form-control" id="email" value="<%= userDetails.email %>" name="email">
                <input type="hidden" value="<%= userDetails._id %>" name="id">   
            </div>
            <div class="form-group my-3">
                <button class="btn btn-warning w-100" type="submit">Update Details</button>
            </div>
        </form>
        <a href="dashboard">Back to dashboard</a>
    </div>
</body>
</html>